
/* GLOBAL STYLES FOR BEASTLYORCA WEBSITE */

/*  
############################################

    Created By: Nadir Bakridi (AKA BeastlyOrca)
    Start Date: June 01 2025

############################################ 
*/


/*  ------------- FONTS CSS  ---------------- */

/* Satisfy (Handwritten Logo)*/
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Nunito (Navigation Font)*/
.nunito-unique> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* DM serif (Base font)*/
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}






/* ------------------  HEADER ---------------------------------*/

.beastlyLogo {
  font-size: 30px;        /* Adjust size as needed */
  color: #ffffff;            /* Change color to suit your theme */
  text-decoration: none;  /* Remove underline from <a> */
  display: inline-block;
}

#top-nav ul {
    padding: 0;
}

#top-nav li {
    list-style-type: none;
    margin-right: 24px;
    /*border-bottom: 2px solid white;*/
    padding-bottom: 4px;
    display: inline;
}

#top-nav li:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 4px;
}

.marginHeader {
        
        margin-left: 1rem;
        margin-right: 4rem;
    }


/* ---------------------------------- Text Styles ---------------------------------------------- */

.blueText {
    color:#04387C;
    font-size: 36px;
}



.allCaps {
    font-family: "Nunito";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
    
}




.here {
    font-family: "Nunito";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #00ffea;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* applies blue text when in the link */
.here a {
    font-family: "Nunito";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #00ffea;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none; /* optional: removes underline */
}





/* ---------------------------  Buttons ------------------------------ */

.btnHeader {
    background-color: #00361d;
    padding: 0px;
    height: 40px;
    color: white;
    font-family: "Nunito";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.5px;
    /*text-transform: uppercase;
    */outline: none;
    border: 1px solid #FFF;

    /*Rounded corners*/
    border-radius: 4px;
 
}

/* changes background and outline when hovering over */
.btnHeader:hover {
    outline: none;
    background-color: white;
    color: black; 
    border-style: none;
    border: 1px solid #000000;
    
}

/* applies black text when hovering */
.btnHeader:hover a {
    color: black !important;
}



/* ------------------------------   FORMATTING MARGINS/PADDING/GRID/FLEX/ETC. -------------------------------*/

.marginDefault {
    margin: 0 24px;
}

.flex-row-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.grid-2 {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr 2fr;
    column-gap: 104px;
}

.shopGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 equal rows */
    gap: 10px;
}


.padSides {
    padding: 0 80px;
}

.padLeft80 {
    padding-left: 80px;

}

.padding8 {
    padding: 8px 0;
}

.padTop {
    padding-top: 1rem;
}

.h1Padding {
    padding-bottom: 1rem;
}

.padding-sides {
    padding: 0 80px;
}

.sectionColour {
    background-color: rgba(249, 250, 251); /*colour stolen from https://www.zachjordan.io/#extras background*/
}


/* ########################### OVERRIDES ########################## */

h1 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    letter-spacing: 1.5px;
    color: #137000;
}

h2 {
    font-family: "DM Serif Text", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 1.5px;
    color: #150046;
}


nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 6rem 1rem;
}

footer {
    background-color: #dfdfdf;
    padding: 1rem;
    font-size: 0.9rem;
    color: #777;
}

a {
    color: black;
}

button a {
    text-decoration: none;
    color: inherit;
}

ul a {
    text-decoration: none;
    color: inherit;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Ensure it stays on top */
    background-color: #281d41;
    color: white;
    padding: 0.5rem 1rem;
    transform: translateY(0); /* Start visible */
    transition: transform 0.3s ease; /* Smooth in BOTH directions */
    
}

.header.hidden {
  transform: translateY(-100%); /* Or any other method to hide it */
  transition: transform 0.3s ease; /* For a smooth animation */
}



p {
    font-family: "DM Serif Text", serif;
    font-weight: 1;
    font-style: normal;
    font-size: 22px;
    
}




/* ------------------------   MEDIA QUERIES------------------------------------- */ 

/*--------------------------- SMARTPHONE ------------------------------------------*/

@media screen and (max-width: 480px) {

    h2 {
        font-family: "EB Garamond";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; /* 100% */
        color: black;
        margin: 0px 0px 24px 0px;
    }

    .mobileHero {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        text-align: center;  
    }

    .boxPad {
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 24px;
        padding-right: 24px;
    }
    

    .mobileLeft {
        display: flex; 
        flex-direction: column; 
        align-items: left;
        text-align: left;  
    }

    .flexLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
    }

    .paddingR {
        padding-right: 8px;
    }
    

    .hiddenMobile {
        display: none;

    }

    .hiddenDesktop{
        display: flex;
        
    }

    .hiddenDesktop2 {
        display: flex; 
        flex-direction: column; 
        align-items: left;
        text-align: left;  
    }
    .hiddenDesktop3 {
        display: flex; 
        flex-direction: column; 
        align-items: left;
        text-align: left;  
    }


    


    .marginDefault {
        margin: 0 24px;
    }



    .isHidden {
        display: none;
    }


    .all-caps {
        font-family: "Work Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: black;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
        
    }

    

    .graphic-text {
        color: rgba(0, 0, 0, 0.10);
        font-family: "EB Garamond";
        font-size: 58px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: right;
    }

    .footer-right {
        grid-column: 7 / span 1;
    }

    .sect-dark {
        background-color: #242424;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 24px;
        padding-right: 24px;
    }
    

   

}

/* TABLET */

@media screen and (max-width: 768px) and (min-width: 481px) {
    .hiddenMobile {
        display: none;

    }
    .hiddenDesktop {
        display: flex;
        
    }
    
}